* {
    margin: 0px;
    padding: 0px;
    font: normal 12px "noto sans korean";
  }
  ul,
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    box-sizing: border-box;
  }
  header {
    width: 100%;
    height: 190px;
    border: 1px solid blue;
    box-sizing: border-box;
  }
  header > div {
    border: 1px solid green;
    box-sizing: border-box;
    margin: 0 auto;
  }
  header > div:nth-child(1) {
    width: 100%;
    height: 36px;
  }
  header > div:nth-child(2) {
    width: 100%;
    height: 100px;
  }
  header > div:nth-child(3) {
    width: 100%;
    height: 54px;
    /* background: #40382e; */
  }
  header > div > * {
    width: 1100px;
    height: 100%;
    border: 1px solid orange;
    box-sizing: border-box;
    margin: 0 auto;
  }
  main {
    border: 1px solid blue;
    box-sizing: border-box;
  }
  main > section {
    border: 1px solid green;
    box-sizing: border-box;
  }
  main > section > article {
    width: 1100px;
    height: 100%;
    border: 1px solid orange;
    box-sizing: border-box;
    margin: 0 auto;
  }
  main > .slider {
    width: auto;
    height: 352px;
  }
  main > .slider > article {}
  main > .go {
    width: 100%;
    height: 520px;
  }
  main > .go > article {
    padding: 30px 10px;
    box-sizing: border-box;
  }
  main > .go > article > div {
    float: left;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  main > .go > article > div:nth-child(1) {
    width: 412px;
    height: 450px;
  }
  main > .go > article > div:nth-child(2) {
    width: 322px;
    height: 220px;
    margin-left: 11px;
  }
  main > .go > article > div:nth-child(3) {
    float: right;
    width: 322px;
    height: 220px;
    
  }
  main > .go > article > div:nth-child(4) {
    float: right;
    width: 322px;
    height: 220px;
    margin-top: 10px;
    margin-left: 11px;
  }
  main > .go > article > div:nth-child(5) {
    float: right;
    width: 322px;
    height: 220px;
    margin-top: 10px;
    
  }
  main > .oneday {
    width: 100%;
    height: 190px;
  }
  main > .oneday > article {}
  main > .vegetable {
    width: 100%;
    height: 660px;
  }
  main > .vegetable > article {}
  main > .vegetable > article > ul {
    width: 100%;
    height: 312px;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  main > .vegetable > article > ul > li {
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px;
    border: 1px solid pink;
    box-sizing: border-box;
  }
  main > .vegetable > article > ul > li:nth-child(1) {}
  main > .vegetable > article > ul > li:nth-child(2) {}
  main > .vegetable > article > ul > li:nth-child(3) {}
  main > .vegetable > article > ul > li:nth-child(4) {}
  main > .premium {
    width: 100%;
    height: 200px;
  }
  main > .premium > article {}
  main > .seafood {
    width: 100%;
    height: 660px;
  }
  main > .seafood > article {}
  main > .seafood > article > ul {
    width: 100%;
    height: 312px;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  main > .seafood > article > ul > li {
    float: left;
    width: 25%;
    height: 100%;
    border: 1px solid pink;
    box-sizing: border-box;
  }
  main > .seafood > article > ul > li:nth-child(1) {}
  main > .seafood > article > ul > li:nth-child(2) {}
  main > .seafood > article > ul > li:nth-child(3) {}
  main > .seafood > article > ul > li:nth-child(4) {}
  footer {
    width: 100%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
  }
  footer > div {
    border: 1px solid green;
    box-sizing: border-box;
  }
  footer > div:nth-child(1) {
    width: 100%;
    height: 50px;
  }
  footer > div:nth-child(2) {
    width: 100%;
    height: 156px;
  }
  footer > div > div {
    width: 1100px;
    height: auto;
    border: 1px solid orange;
    box-sizing: border-box;
    margin: 0 auto;
  }
  footer > div > div {
    height: 100%;
  }

  