* {
  margin: 0px;
  padding: 0px;
  font: normal 12px "noto sans korean";
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #111;
}

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 190px;
  box-sizing: border-box;
}
header > div {
  box-sizing: border-box;
  margin: 0 auto;
}
header > div:nth-child(1) {
  width: 100%;
  height: 36px;
}
header > div:nth-child(2) {
  width: 100%;
  height: 100px;
}
header > div:nth-child(3) {
  width: 100%;
  height: 54px;
  background: #40382e;
}
header > div > * {
  width: 1100px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
header > div:nth-child(1){
  border-bottom: 1px solid #dcdcdc;
}
main {
  box-sizing: border-box;
}
main > section {
  box-sizing: border-box;
}
main > section > article {
  width: 1100px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
main > .slider {
  width: auto;
  height: 352px;
}
main > .slider > article {
}
main > .go {
  width: 100%;
  height: 520px;
}
main > .go > article {
  padding: 30px 10px;
  box-sizing: border-box;
}
main > .go > article > div {
  float: left;
  box-sizing: border-box;
}
main > .go > article > div:nth-child(1) {
  width: 412px;
  height: 450px;
}
main > .go > article > div:nth-child(2) {
  width: 322px;
  height: 220px;
  margin-left: 11px;
}
main > .go > article > div:nth-child(3) {
  width: 322px;
  height: 220px;
  margin-left: 11px;
}
main > .go > article > div:nth-child(4) {
  width: 322px;
  height: 220px;
  margin-top: 10px;
  margin-left: 11px;
}
main > .go > article > div:nth-child(5) {
  width: 322px;
  height: 220px;
  margin-top: 10px;
  margin-left: 11px;
}
main > .oneday {
  width: 100%;
  height: 190px;
}
main > .oneday > article {
}
main > .vegetable {
  width: 100%;
  height: 660px;
}
main > .vegetable > article {
}
main > .vegetable > article > ul {
  width: 100%;
  height: 312px;
  box-sizing: border-box;
}
main > .vegetable > article > ul > li {
  float: left;
  width: 25%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
main > .vegetable > article > ul > li:nth-child(1) {
}
main > .vegetable > article > ul > li:nth-child(2) {
}
main > .vegetable > article > ul > li:nth-child(3) {
}
main > .vegetable > article > ul > li:nth-child(4) {
}
main > .premium {
  width: 100%;
  height: 200px;
}
main > .premium > article {
}
main > .seafood {
  width: 100%;
  height: 660px;
}
main > .seafood > article {
}
main > .seafood > article > ul {
  width: 100%;
  height: 312px;
  box-sizing: border-box;
}
main > .seafood > article > ul > li {
  float: left;
  width: 25%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
main > .seafood > article > ul > li:nth-child(1) {
}
main > .seafood > article > ul > li:nth-child(2) {
}
main > .seafood > article > ul > li:nth-child(3) {
}
main > .seafood > article > ul > li:nth-child(4) {
}
footer {
  width: 100%;
  height: auto;
}
footer > div {}
footer > div:nth-child(1) {
  width: 100%;
  height: 50px;
  background: #626262;
}
footer > div:nth-child(2) {
  width: 100%;
  height: 156px;
  background: #434343;
}
footer > div > div {
  width: 1100px;
  height: auto;
  margin: 0 auto;
}

/* main */
header .top p {
  float: right;
  margin-top: 10px;
}
header article {
  position: relative;
}
header article a > img {
  position: absolute;
}
header article a:nth-child(1) > img {
  left: 10px;
  bottom: 10px;
}
header article a:nth-child(1) p {
  position: absolute;
  left: 60px;
  bottom: 10px;
}
header article a:nth-child(1) p > span {
  color: #ff6a00;
  font-size: 15px;
  font-weight: 500;
}
header article a:nth-child(2) > img {
  left: 34%;
  bottom: 20px;
}
header article a:nth-child(3) > img {
  right: 10px;
  bottom: 20px;
}
header nav li {
  float: left;
  width: 11.11%;
}
header nav li > a {
  display: block;
  height: 100%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 54px;
}
header nav li > a:hover {
  color: #ff6a00;
}
main .slider {
  background: #ffeed4;
}
main .slider > article {
  background: url("../img/slider_banner1.jpg");
}
main .oneday {
  background: url("../img/oneday_bg.png");
  background-size: cover;
  background-position: 50% center;
}
main .oneday img {
  margin-top: 50px;
}
main .vegetable > article {
  text-align: center;
  padding: 60px 0px 40px;
}
main .vegetable ul {
  overflow: hidden;
  margin-top: 20px;
}

main .vegetable ul a {
  display: block;
  width: 100%;
  height: 100%;
}
main .vegetable ul img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
main .vegetable ul h1 {
  font-size: 20px;
  font-weight: bold;
  color: #41392f;
  margin-top: 12px;
}
main .vegetable ul p {
  font-size: 13px;
  font-weight: bold;
  color: #959595;
  margin: 12px 0 26px;
}
main .vegetable ul h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ff6a00;
}
main .vegetable .all {
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid #efefef;
  box-shadow: 0px 2px 2px #999;
  text-align: center;
  line-height: 50px;
  margin: 56px auto 0;
  color: #626262;
  font-size: 15px;
  font-weight: bold;
}
main .premium {
  background: url("../img/premium_bg.png");
  background-size: cover;
  background-position: 50% center;
}
main .premium img {
  margin-top: 50px;
}
main .premium > article {
  text-align: center;
}
main .seafood > article {
  text-align: center;
  padding: 60px 0px 40px;
}
main .seafood ul {
  overflow: hidden;
  margin-top: 20px;
}
main .seafood ul a {
  display: block;
  width: 100%;
  height: 100%;
}
main .seafood ul img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
main .seafood ul h1 {
  font-size: 20px;
  font-weight: bold;
  color: #41392f;
  margin-top: 12px;
}
main .seafood ul p {
  font-size: 13px;
  font-weight: bold;
  color: #959595;
  margin: 12px 0 26px;
}
main .seafood ul h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ff6a00;
}
main .seafood .all {
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid #efefef;
  box-shadow: 0px 2px 2px #999;
  text-align: center;
  line-height: 50px;
  margin: 56px auto 0;
  color: #626262;
  font-size: 15px;
  font-weight: bold;
}
footer .terms {
  float: left;
  line-height: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
footer .terms > a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
footer .terms > a:hover {
  color: #ff6a00;
}
footer .info {
  float: left;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #aca9a9;
  line-height: 25px;
}
footer > div:nth-child(2) img {
  margin-top: 15px;
  float: right;
}
