          <aside>
            <!-- Global Navigation Bar -->
            <ul id="gnb">
              <li>
                <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>마이페이지</a>
                <ol>
                  <li><a href="#">내정보</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fas fa-store" aria-hidden="true">학사관리</i></a>
                <ol>
                  <li><a href="#">수강신청</a></li>
                  <li><a href="#">강의시간표</a></li>
                  <li><a href="#">강의평가</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fa fa-users" aria-hidden="true"></i>학과게시판</a>
                <ol>
                  <li><a href="#">dep1게시판</a></li>
                  <li><a href="#">dep2게시판</a></li>
                  <li><a href="#">dep3게시판</a></li>
                </ol>
              </li>
            </ul>
          </aside>
