<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
	<meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="../css/common.css" rel="stylesheet" type="text/css" />
    <link href="../css/aside.css" rel="stylesheet" type="text/css" />
    <script src="../../static/js/student/student.js"></script>
    <title>ChimAcademy</title>
    <script>
      $(function(){
        asideSlide();
      });
    </script>
  </head>
  
  <body>
    <div id="wrapper">
      <header>
        <div class="top">
          <div>
            <a th:href="@{#}">Home</a>
            <a th:href="@{#}">Profile</a>
            <a th:href="@{#}">Login/LogOut</a>
          </div>
        </div>
      </header>
      <main id="class">
        <aside>
          <!-- Global Navigation Bar -->
          <ul id="gnb">
            <li>
              <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>마이페이지</a>
              <ol>
                <li><a href="#">내정보</a></li>
              </ol>
            </li>
            <li>
              <a href="#"><i class="fas fa-store" aria-hidden="true">학사관리</i></a>
              <ol>
                <li><a href="#">수강신청</a></li>
                <li><a href="#">강의시간표</a></li>
                <li><a href="#">강의평가</a></li>
              </ol>
            </li>
            <li>
              <a href="#"><i class="fa fa-users" aria-hidden="true"></i>학과게시판</a>
              <ol>
                <li><a href="#">dep1게시판</a></li>
                <li><a href="#">dep2게시판</a></li>
                <li><a href="#">dep3게시판</a></li>
              </ol>
            </li>
          </ul>
        </aside>

      </main>
      <footer></footer>
    </div>
  </body>
</html>
