*{
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans CJK KR";
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}

#wrapper{
    width: 100%;
}
#wrapper > header{
    width: 100%;
    height: auto;
}

/* top */
#wrapper > header > #top{
    width: 100%;
    height: 35px;
    text-align: right;
    border-bottom: 1px solid #e9e9e9;
}
#wrapper > header > #top > div{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 35px;
    text-align: right;
}
#wrapper > header > #top > div > a{
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    color: #646464;
    text-align: center;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
}
#wrapper > header > #top > div > a:hover{
    color: #333;
    border-bottom:1px solid #444;
}
#wrapper > header > #top > div > a:last-child{
    border-right: 1px solid #e9e9e9;
}

/* logo */
#wrapper > header > #logo{
    width: 100%;
    height: 115px;
}
#wrapper > header > #logo{
    position: relative;
}
#wrapper > header > #logo > div > a {
    display: inline-block;
    margin-top: 30px;
}
#wrapper > header > #logo > div > form {
    position: relative;
    display: inline-block;
}
#wrapper > header > #logo > div > form > input{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 320px;
    bottom: 0;
    border: 1px solid #e9e9e9;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}
#wrapper > header > #logo > div > form > button{
    position: absolute;
    border: none;
    background: none;
    left: 645px;
    bottom: 10px;
}
#wrapper > header > #logo > div > form > button > i{
    font-size: 18px;
}
#wrapper > header > #logo > div{
    width: 1200px;
    margin: 0 auto;
}

/* my_k */
#wrapper > header > #my_k{
    width: 100%;
    height: auto;
    background-color: #e8e8e8;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
}
#wrapper > header > #my_k > div{
    width: 980px;
    height: 119px;
    margin: 0 auto;
}
#wrapper > header > #my_k > div{
    
    padding-top: 15px;
}
#wrapper > header > #my_k > div #my_logo{
    margin-top: 15px;
}
#wrapper > header > #my_k > div > ol{
    float:right;
    right: 0;
    bottom: 0;
    
}

#wrapper > header > #my_k > div ol > li {
    display: block;
    float:left;
    border-right: 1px solid #c5c5c5;
    border-left: 1px solid #fff;
    height: 80px;
    width: 100px;
    text-align: center;
}
#wrapper > header > #my_k > div ol > li:nth-child(1){
    background: url(/Kmarket2/img/my/ico_delivery.png);
    background-repeat: no-repeat;
    background-position: center 30px;
    border-left: none;
}
#wrapper > header > #my_k > div ol > li:nth-child(2){
    background: url(/Kmarket2/img/my/ico_coupon.jpg);
    background-repeat: no-repeat;
    background-position: center 25px;
}
#wrapper > header > #my_k > div ol > li:nth-child(3){
    background: url(/Kmarket2/img/my/ico_point.jpg);
    background-repeat: no-repeat;
    background-position: center 25px;
}
#wrapper > header > #my_k > div ol > li:nth-child(4){
    background: url(/Kmarket2/img/my/ico_qna.png);
    background-repeat: no-repeat;
    background-position: center 25px;
    border-right: none;
}
#wrapper > header > #my_k > div ol > li > a{
    display: block;
    color: #888;
    margin-bottom: 45px;    
}
#wrapper > header > #my_k > div ol > li > p{
    display: block;
}


/* aside */
#wrapper aside{
    position: relative;
    width: 148px;
    height: auto;
}

#wrapper aside > #piece {
    display: block;
    position: absolute;
    width: 8px;
    height: 13px;
    right: -10px;
    top: -13px;
    background: url(/Kmarket2/img/my/my_sprites.png);
    background-position: -160px -50px;
}
#wrapper aside > ul{
    position: absolute;
    border: 1px solid #003262;
    top: -12px;
}
#wrapper aside > ul > li{
    height: 60px;
    width: 148px;
    border-top: 1px solid #2681ff;
    border-bottom: 1px solid #0056cd;
    background: #006bff;
    line-height: 60px;
    padding-left: 15px;
}
#wrapper aside > ul > li.on,
#wrapper aside > ul > li:hover{
    background-color: #075acc;
    border-top: 1px solid #054cbc;
}
#wrapper aside > ul > li > a{
    display: block;
    color: white;
    font-size: 16px;
    line-height: 60px;
}

/* main common */
#wrapper > main {
    width: 980px;
    height: auto;
    margin: 0 auto;
}
#wrapper > main > section{
    width: 832px;
    height: auto;
    margin-left: 146px;
    padding: 10px;
}
#wrapper > main > section > div{
    margin-bottom: 20px;
}

#wrapper > main > section > #banner .my_banner{
    width: 810px;
    object-fit: none;
    
}

#wrapper > main > section > div > h3{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#wrapper > main > section > div .more{
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
    float: right;
    width: 40px;
    height: 18px;
    background: url(/Kmarket2/img/my/my_sprites.png) 0px -275px;
}
#wrapper > main > section > div > table{
    width: 100%;
    border-top: 2px solid black;
    border-spacing: 0;
}
#wrapper > main > section > div > table th{
    line-height: 26px;
    background: #a5a7a5;
    color: #fff;
}
#wrapper > main > section > div > table td{
    padding: 10px;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid black;
    text-align: center;
}
#wrapper > main > section > #my_recent_order > table td:nth-child(3){
    text-align: left;
}
#wrapper > main > section > div > table td:last-child{
    border-right: none;
}
#wrapper > main > section > div > table td a{
    font-family: 돋움;
    display: block;
    width: 90px;
    height: 18px;
    margin: 2px auto;
    color: #676767;
    font-size: 11px;
    text-align: left;
    text-indent: 6px;
    line-height: 20px;
    letter-spacing: -1px;
    background: url(/Kmarket2/img/my/my_sprites.png)
}
#wrapper > main > section > div > table .my_receive{background-position: -368px -179px;}
#wrapper > main > section > div > table .my_review{background-position: -368px -203px;}
#wrapper > main > section > div > table .my_return{background-position:  -499px -399px;}
#wrapper > main > section > div > table .my_exchange{background-position:  -499px -399px;}

/* footer */
footer{
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
}
footer > ul {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
}
footer > ul > li{
    display: inline;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #d7d7d7;
    padding-left: 10px;
    padding-right: 10px;
}
footer > ul > li:nth-child(1){
    border-left: 1px solid #d7d7d7;
}
footer > #my_footer_info{
    width: 100%;
    height: auto;
    clear: both;
    display: block;
    content: '';
    padding-top: 20px;
    text-align: center;
}
footer > #my_footer_info > div{
    display: inline-block;
    width: 350px;
}
footer > #my_footer_info > div:nth-child(1){
    text-align: center;
}
footer > #my_footer_info > div:nth-child(n+2){
    text-align: left;
}

/* main - my - home */
#wrapper > #home > section > #banner #my_banner1{
    background: url(/Kmarket2/img/my/my_banner1.jpg);
}
#wrapper > #home > section > #my_review_list .star{
    display: block;
    width: 90px;
    height: 18px;
    margin: 0 auto;
    background: url(/Kmarket2/img/my/my_rating_star.png);
}
#wrapper > #home > section > #my_review_list .star1{background-position: 0px -40px;}
#wrapper > #home > section > #my_review_list .star2{background-position: 0px -80px;}
#wrapper > #home > section > #my_review_list .star3{background-position: 0px -120px;}
#wrapper > #home > section > #my_review_list .star4{background-position: 0px -160px;}
#wrapper > #home > section > #my_review_list .star5{background-position: 0px -200px;}
#wrapper > #home > section > #my_confirm > div:after {
    clear: both;
    display: block;
    content: '';
}
#wrapper > #home > section > #my_confirm > span{
    display: block;
    width: 98px;
    height: 20px;
    margin-bottom: 6px;
    background: url(/Kmarket2/img/my/my_sprites.png);
    background-position: -144px -280px;
}
#wrapper > #home > section > #my_confirm > div{
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}
#wrapper > #home > section > #my_confirm > div > div{
    float: left;
    width: 33.3%;
    height: 104px;
    padding: 16px;
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #eaeaea;
}
#wrapper > #home > section > #my_confirm > div > div:last-child{
    border-right: none;
}
#wrapper > #home > section > #my_confirm > div > div > span,
#wrapper > #home > section > #my_confirm > div > div > a{
    display: inline-block;
    width: 80px;
    height: 14px;
    margin-bottom: 10px;
    margin-right: 30px;
    background: url(/Kmarket2/img/my/my_sprites.png);
}

#wrapper > #home > section > #my_confirm > div > div > #my_address{background-position: -497px -178px;}
#wrapper > #home > section > #my_confirm > div > div > #my_email{background-position: -497px -201px;}
#wrapper > #home > section > #my_confirm > div > div > #my_phone{background-position: -497px -226px;}
#wrapper > #home > section > #my_confirm > div > div > .my_change{background-position: -420px -821px;}

#wrapper > #home > section > #my_confirm > div > div > p{
    color: #999;
}

/* main - my - ordered */
#wrapper > #ordered > section > #my_all_order > table > tbody > tr > td:nth-child(3){
    text-align: left;
}
#wrapper > #ordered > section> #my_all_order > #page{
    width: 100%;
    height: auto;
    margin: 20px auto;
    
}
#wrapper > #ordered > section > #my_all_order > #page > ul{
    width: 100%;
    height: 50px;
    text-align: center;
}
#wrapper > #ordered > section > #my_all_order > #page > ul > li{
    width: 20px;
    height: 20px;
    display: inline-block;
}
#wrapper > #ordered > section > #my_all_order > #page > ul > li > a{
    color: #777;
}
#wrapper > #ordered > section > #my_all_order > #page #prev{
    background: url(/Kmarket2/img/my/my_sprites2.png);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    border: 1px solid #777;
}
#wrapper > #ordered > section > #my_all_order > #page #next{
    background: url(/Kmarket2/img/my/my_sprites2.png);
    background-position: -120px -300px;
    background-repeat: no-repeat;
    border: 1px solid #777;
}
#wrapper > #ordered > section > #my_all_order > #page #prev > a,
#wrapper > #ordered > section > #my_all_order > #page #next > a{
    font-size: 0;
}