li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 125px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 125px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
}

header nav .logo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .logo img {
  width: 190px;
}

header nav .menu {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
}

header nav .menu > li {
  margin: 0 80px;
  cursor: pointer;
}

header nav .submenu {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 999;
  padding: 0;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav .submenu-div {
  display: flex;
  flex-direction: column;
}

header nav .subcategory {
  display: flex;
}

header nav .submenu ul {
  margin: 0 7rem;
}

header nav .submenu li {
  margin: 40px 0;
}

header nav .close {
  cursor: pointer;
  margin-left: 75rem;
}

main {
  flex: auto;
}

main .main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
}

main .main-row {
  display: flex;
  padding: 0;
  justify-content: center;
}

main .main-img {
  display: flex;
  position: relative;
}

main .main-img > img {
  width: -webkit-fill-available;
}

main .main-img > .see {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .main-btn {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.btn-sm {
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: none;
}

footer {
  min-height: 100px;
}

footer div {
  font-size: 10px;
  margin: auto 0px auto 50px;
}

.rt {
  text-align: right;
}

.common-gray-bacground {
  background-color: #b3b3b3;
}

.common-gray-font {
  color: #b3b3b3;
}

.common-black-background {
  background-color: black;
}

.common-black-font {
  color: black;
}

.common-white-font {
  color: white;
}

/* 20231011 kjh*/
.logo > div:nth-child(1) {
  height: 50px;
  /* text-align: center; */
}
.logo > .logo-nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 170px;
  justify-content: space-evenly;
}
.logo > .logo-nav > ul > li {
  margin-right: 20px;
  font-size: 20px;
}
.logo > .search-area {
  position: absolute;
  right: 20px;
  top: 48px;
  border: 1px solid #313131;
  box-sizing: border-box;
  width: 450px;
  height: 160px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: none;
}
.logo > .search-area input {
  width: 400px;
  height: 26px;
  line-height: 30px;
  padding-left: 10px;
  outline: none;
}
.logo > .logo-nav {
  position: absolute;
  right: 380px;
  top: 12px;
  font-size: 24px;
  cursor: pointer;
}
