/* all */
* {
  margin: 0;
  padding: 0;
  font: normal 12px '고딕';
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}
table {
  border-top: 2px solid rgb(135, 152, 163);
  white-space: nowrap;
}
textarea{
  resize: none;
}

/* header */
header {
  background: url(/Kmarket2/img/admin/admin_bg_header.jpg);
}
#top_admin {
  height: 120px;
}
#nav_admin {
  height: 100px;
}

/* aside */
aside {
  width: 270px;
  height: auto;
  background: url(/Kmarket2/staic/img/admin_bg_aside.jpg) repeat-y;
  border-left: 1px solid #c0c0c0;
  box-sizing: border-box;
}
#gnb {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#gnb > li {
  width: 100%;
  min-height: 66px;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
}
#gnb > li:last-child {
  border-bottom: 1px solid #c0c0c0;
}
#gnb > li > a {
  display: block;
  width: 100%;
  height: 66px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  line-height: 66px;
  text-indent: 10px;
}
#gnb > li > a > i {
  margin-right: 10px;
  font-size: 20px;
}
#gnb ol {
  display: none;
  width: 100%;
  height: auto;
}
#gnb ol > li {
  width: 100%;
  height: 32px;
}
#gnb ol > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 52px;
}

/* footer */
footer {
  background: #0d3a46;
}

/* main */ /* main */
.form-check-input {
  width: 1.2em;
  height: 1.2em;
}

#admin_cs_table th {
  height: 40px;
  font-size: 13px;
}
#admin_cs_table td {
  height: 40px;
  font-size: 13px;
}
#admin_cs_table a {
  font-size: 13px;
}

/* product register */
.bg_describe {
  background: #eaeaea;
}
.form-select {
  width: 250px;
}
#admin_register_alert {
  border: 1px solid #fdd845;
  background: #fff6bf;
}
/* product list */
.admin_list_img {
  width: 60px;
}
#admin_list_info {
  border: 1px solid #8497bf;
  background: #a8b2c5;
}
/* admin index */
#admin_index_shop thead{
  height: 80px;
}
#admin_index_shop thead th{
  width: 202.8px;
}



/* 말줄임 */
table .ellipsis{
  position: relative;
  min-width: 200px;
  
}
.table .ellipsis span{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 6px;
  right: 6px;
}
.ellipsis::before{
  content: '';
  display: inline-block;
}