<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/aside.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <title>그린아카데미</title>    
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="top">
				<div>
					<a th:href="@{#}">Home</a>
					<a th:href="@{#}">Profile</a>
					<a th:href="@{#}">Login/LogOut</a>
				</div>
			</div>
		</header>
 
        <main>

            <aside>
                <ul id="#">
                    <li>
                        <a href="#"><i class="#"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="#"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="#"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="#"></i></a>
                    </li>

                </ul>
            </aside>

		</main>
		<footer></footer>
</body>
</html>
