/* css 초기화*/
* {
    padding: 0;
    margin: 0;
    font: normal 12px '고딕';
    outline: none;
}

ul, ol {list-style: none;}

a {text-decoration: none;color: black;}


#wrapper {
	width: 100%;
	height: auto;
	/* 푸터 하단고정 */
 	min-height: 100%;
    position: relative;
    padding-bottom: 41px;		
}

main {
    width: 1280px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}


/* Header */
header {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: -3px;
}

header > .top {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: #1A4E8B;
    display: inline-block;
    margin-top: 0px;
}

header > .top > div {
    box-sizing: border-box;
    float: right;
}

header > .top > div > a {
    font-size: 13px;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #c8c8c8;
    border-radius: 2.5px;
    display: inline-block;
}

/* aside */
main>aside {
    float: left;
    width: 270px;
    height: auto;
}

main>aside ul {
    background: #eaeaea
}

main>aside>ul>li {
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}

main>aside>ul>li>a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    line-height: 66px;
    text-indent: 10px;
}

main>aside>ul>li>a>i {
    margin-right: 10px;
    font-size: 20px;
}

/* 어사이드 목록 */
main>aside>ul>li>ol {
    width: 100%;
    height: auto;
    list-style: circle;
}

main>aside>ul>li>ol>li {
    width: 100%;
    height: 32px;
}

main>aside>ul>li>ol>li>a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 52px;
}


/* Footer */
footer {
    /* display: block; */
    width: 100%;
    height: auto;
    background-color: #1A4E8B;
    height: 49px;
    box-sizing: border-box;
    
    /* 푸터 하단고정 */
    position: absolute;
    bottom: 0;
}

/* 푸터 하단고정 */
html, body{
	height: 100%;	
}


