*{
    box-sizing: border-box;
    border-spacing: 0;
    font-size: 12px;
}

main#signUp > section {
    float: left;
    width: 930px;
    padding: 20px;
}
main#signUp > section::after{
    content:""; display:block; clear:both;
}

main#signUp > section > section {
    margin-bottom: 25px;
}
main#signUp > section > section h1{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
main#signUp table, main#signUp tr, main#signUp td, main#signUp th{
    border: 1px solid #c0c0c0;
}

main#signUp > section > #stdInfo > table{
    width: 100%;
    height: 80px;
    text-align: center;
}

main#signUp > section > #stdInfo > table tr:nth-child(1) > td:nth-child(even),
main#signUp > section > #stdInfo > table tr:nth-child(2) > td:nth-child(odd){
    background-color: #ececec;
}
main#signUp > section > #searchCredit::after {
    content:""; display:block; clear:both;
}

main#signUp > section > #searchCredit > #searchDiv{
    float: left;
    width: auto;
    margin-right: 10px;
    padding-right: 10px;
    border: 1px solid #c0c0c0;
}
main#signUp > section > #searchCredit > #searchDiv > table{
    width: 670px;
    text-align: right;    
    
}
main#signUp > section > #searchCredit > #searchDiv > table td{
    line-height: 35px;
}
main#signUp > section > #searchCredit > #searchDiv > table select{
    width: 145px;
}
main#signUp > section > #searchCredit > #searchDiv > table td:nth-child(even){
    text-align: center;
}
main#signUp > section > #searchCredit > #searchDiv > table #searchTd{
    text-align: center;
}
main#signUp > section > #searchCredit > #searchDiv > table #searchTd > button {
    width: 145px;
}
main#signUp > section > #searchCredit > #searchDiv > table, 
main#signUp > section > #searchCredit > #searchDiv > table tr, 
main#signUp > section > #searchCredit > #searchDiv > table td{
    border: none;
}
main#signUp > section > #searchCredit > #creditDiv{
    float: left;
    width: auto;
    height: auto;
}
main#signUp > section > #searchCredit > #creditDiv > table{
    width: 198px;
    height: 71px;
    text-align: center;
}
main#signUp > section > #searchCredit > #creditDiv > table tr > td:nth-child(1){
    width: 100px;
    background-color: #ececec;
}

main#signUp > section > #resultLec > table{
    width: 100%;
    text-align: center;
}
main#signUp > section > #resultLec > table thead > tr{
    background-color: #ececec;
}
main#signUp > section > #resultLec > table th,
main#signUp > section > #resultLec > table td{
    line-height: 35px;
}
main#signUp > section > #sugangList{

}
main#signUp > section > #sugangList > table{
    width: 100%;
    text-align: center;
}
main#signUp > section > #sugangList > table th,
main#signUp > section > #sugangList > table td{
    line-height: 35px;
}
main#signUp > section > #sugangList > table thead > tr{
    background-color: #ececec;
}