<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
    <script src="js/admin/gnb.js"></script>
    <link rel="stylesheet" href="style/admin/admin.css">
    <title>케이마켓::관리자</title>

  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <div id="top_admin" class="container">
        <div class="row mx-auto" id="nav_admin">
          <div class="col align-self-center">
            <img th:src="@{img/admin/admin_logo.png}" alt="" />
          </div>
          <div class="col text-end text-white align-self-center">
            <div class="d-flex justify-content-end">
              <span class="me-4">admins 님 반갑습니다.</span>
              <a th:href="@{#}" class="text-reset">HOME |&nbsp;</a>
              <a th:href="@{#}">로그아웃 |&nbsp;</a>
              <a th:href="@{#}">고객센터2</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="admin_index" class="flex-shrink-0">
      <div class="container d-flex flex-row">
        <div class="me-4">
          <aside>
            <!-- Global Navigation Bar -->
            <ul id="gnb">
              <li>
                <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>환경설정</a>
                <ol>
                  <li><a href="#">기본환경설정</a></li>
                  <li><a href="#">배너관리</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fas fa-store" aria-hidden="true"></i>상점관리</a>
                <ol>
                  <li><a href="#">판매자현황</a></li>
                  <li><a href="#">재고관리</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fa fa-users" aria-hidden="true"></i>회원관리</a>
                <ol>
                  <li><a href="#">회원현황</a></li>
                  <li><a href="#">포인트관리</a></li>
                  <li><a href="#">비회원관리</a></li>
                  <li><a href="#">접속자집계</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fas fa-box-open" aria-hidden="true"></i>상품관리</a>
                <ol>
                  <li><a href="/Kmarket/admin/product/list.do?uid=admin">상품목록</a></li>
                  <li><a href="/Kmarket/admin/product/register.do">상품등록</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>주문관리</a>
                <ol>
                  <li><a href="#">주문현황</a></li>
                  <li><a href="#">매출현황</a></li>
                  <li><a href="#">결제관리</a></li>
                  <li><a href="#">배송관리</a></li>
                </ol>
              </li>
              <li>
                <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>게시판관리</a>
                <ol>
                  <li><a href="#">게시판현황</a></li>
                  <li><a href="#">고객문의</a></li>
                </ol>
              </li>
              <li>
                <a href="/Kmarket/admin/cs/notice/list.do"><i class="fa-solid fa-headphones"></i>고객센터</a>
                <ol>
                  <li><a href="/Kmarket/admin/cs/notice/list.do">공지사항</a></li>
                  <li><a href="/Kmarket/admin/cs/faq/list.do?csType=faq">자주묻는질문</a></li>
                  <li><a href="/Kmarket/admin/cs/qna/list.do?csType=qna">문의하기</a></li>
                </ol>
              </li>
            </ul>
          </aside>
        </div>
        <div class="col">
          <div id="admin_nav" class="row align-items-end border-bottom border-1 border-dark pt-5 mb-4">
            <div class="col-6 h3 fw-bold">관리자 메인</div>
            <div class="col-6 text-end mb-1">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex justify-content-end mb-0">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item fw-bold" aria-current="page">메인</li>
                </ol>
              </nav>
            </div>
          </div>
          <div>
            <table class="table caption-top table-bordered" id="admin_index_shop">
              <caption class="fw-bold h5 text-dark">
                쇼핑몰 운영현황
              </caption>
              <thead class="table-light align-middle borer-top border-dark">
                <tr class="text-center border-bottom border-start border-end">
                  <th class="h5 fw-bold">
                    주문건수(건)<br /><br />
                    <span class="h5 text-danger fw-bold">120</span>
                  </th>
                  <th class="h5 fw-bold">
                    주문금액(원)<br /><br />
                    <span class="h5 text-danger fw-bold">1,130,000</span>
                  </th>
                  <th class="h5 fw-bold">
                    회원가입(명)<br /><br />
                    <span class="h5 text-danger fw-bold">1,014</span>
                  </th>
                  <th class="h5 fw-bold">
                    쇼핑몰 방문(명)<br /><br />
                    <span class="h5 text-danger fw-bold">1,100</span>
                  </th>
                  <th class="h5 fw-bold">
                    신규 게시물(건)<br /><br />
                    <span class="h5 text-danger fw-bold">100</span>
                  </th>
                </tr>
              </thead>
              <tr>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">PC</div>
                    <div>60</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Mobile</div>
                    <div>60</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">PC</div>
                    <div>60</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Mobile</div>
                    <div>60</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">PC</div>
                    <div>60</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Mobile</div>
                    <div>60</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">PC</div>
                    <div>60</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Mobile</div>
                    <div>60</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">PC</div>
                    <div>60</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Mobile</div>
                    <div>60</div>
                  </div>
                </td>

              </tr>
              <tr>

                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">어제</div>
                    <div>4</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">주간</div>
                    <div>10</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div>월간</div>
                    <div>40</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">어제</div>
                    <div>4</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">주간</div>
                    <div>10</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div>월간</div>
                    <div>40</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">어제</div>
                    <div>4</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">주간</div>
                    <div>10</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div>월간</div>
                    <div>40</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">어제</div>
                    <div>4</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">주간</div>
                    <div>10</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div>월간</div>
                    <div>40</div>
                  </div>
                </td>
                <td class="p-3">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">어제</div>
                    <div>4</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div class="mb-2">주간</div>
                    <div>10</div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <div>월간</div>
                    <div>40</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div>
            <table class="table table-light caption-top table-bordered">
              <caption class="fw-bold h5 text-dark">주문 업무현황</caption>
              <tr class="border-start border-end border-bottom text-center">
                <th class="py-4">
                  <div class="h5 fw-bold">입금대기(건)</div>
                  <div class="h5 fw-bold text-danger">130</div>
                </th>
                <th class="py-4">
                  <div class="h5 fw-bold">배송준비(건)</div>
                  <div class="h5 fw-bold text-danger">130</div>
                </th>
                <th class="py-4">
                  <div class="h5 fw-bold">취소요청(건)</div>
                  <div class="h5 fw-bold text-danger">130</div>
                </th>
                <th class="py-4">
                  <div class="h5 fw-bold">교환요청(건)</div>
                  <div class="h5 fw-bold text-danger">130</div>
                </th>
                <th class="py-4">
                  <div class="h5 fw-bold">반품요청(건)</div>
                  <div class="h5 fw-bold text-danger">130</div>
                </th>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col-6">
              <table class="table caption-top table-borderless border-top border-dark">
                <colgroup>
                  <col width=75%>
                  <col width=25%>
                </colgroup>
                <caption class="fw-bold h5 text-dark">공지사항</caption>
                <tr>
                  <td class="ellipsis"><span><a href="">[공지] 케이마켓 판매자님들은 주기적인 비밀번호 변경을 하세요 케이마켓케이마켓케이마켓케이마켓</a></span></td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[공지] 1주년 기념 신규가입 사은품 안내</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[공지] 1주년 기념 신규가입 사은품 안내</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[공지] 1주년 기념 신규가입 사은품 안내</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[공지] 1주년 기념 신규가입 사은품 안내</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
              </table>
            </div>
            <div class="col-6">
              <table class="table caption-top table-borderless border-top border-dark ">
                <colgroup>
                  <col width=75%>
                  <col width=25%>
                </colgroup>
                <caption class="fw-bold h5 text-dark">고객문의</caption>
                <tr>
                  <td class="ellipsis"><span><a href="">[문의] 안녕하세요. 주문자 입니다. 구매한 상품에 문제가 있어서 이렇게 문이렇게 문이렇게 문이렇게 문이렇게 문</a></span></td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[문의] 상품이 1개 잘못 왔습니다.</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[문의] 상품이 잘못 왔습니다.</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td>[문의] 상품이 1개 잘못 왔습니다.</td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
                <tr>
                  <td><a href="">[문의] 상품이 1개 잘못 왔습니다.</a></td>
                  <td class="text-end">20-07-08 12:23</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer py-3 mt-auto">
      <div class="container">
        <span class="text-white">Copyright ©kmarket.co.kr All rights reserved. KMARKET ADMINISTRATOR Version 5.4.1.2</span>
      </div>
    </footer>
  </body>
</html>
